.wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 12px;
  row-gap: 12px;
  justify-content: center;
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  color: #543298;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(137, 43, 226, 0.077);
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #f2dce0;
}
